html, body{
  margin: 0;
  padding: 0;
}
.header{
  width: 100%;
  background-color: #ff9a4b;
  height: 50px;
}
.main{
  width: 960px;
  margin: 50px auto;
  display: flex;
}
.main-item{

  background-color: #eeeeee;
  margin: 0 15px;
  padding: 10px;
  position: relative;
}
.step-item{
  color: white;
  padding: 3px;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #ff9a4b;
}
h2{
  margin: 15px 5px 0;
}
.step1{
  height: 150px;
  background-image: url(img/flow01.png);
  background-position: bottom;
  background-size: cover;
}
.step2{
  height: 150px;
  background-image: url(img/flow02.png);
  background-position: bottom;
  background-size: cover;
}
.step3{
  height: 150px;
  background-image: url(img/flow03.png);
  background-position: bottom;
  background-size: cover;
}
.footer{
  background-color: #aaaaaa;
  height: 50px;
  width: 100%;
}

@media screen and (max-width: 480px) {
  .main{
    width: 100%;
    display: block;
    margin: 50px auto;
  }
  .main-item{
    width: 90%;
    margin: 20px auto;

  }
}
